h2,
p {
	margin-top: 0;
}

h2,
button {
	font-weight: $fw-700;
}

h2 {
	line-height: 1.2;
	font-size: clamp(1.5rem, 4vw, 2.625rem);
}

p {
	line-height: 1.5;
	font-weight: $fw-300;
	font-size: clamp(0.94rem, 2vw, 1rem);
}

span {
	font-weight: $fw-600;
}

button {
	line-height: 1;
}
