h2 {
	margin-top: 0;
	line-height: 1.2;
	font-weight: $fw-700;
}

p {
	margin-top: 0;
	line-height: 1.5;
	font-weight: $fw-300;
}

span {
	font-weight: $fw-600;
}

button {
	font-weight: $fw-700;
	line-height: 1;
}
